<div class="d-flex flex-column justify-content-center align-items-center vh-100 white-background">

  <div class="alert alert-danger mt-3 alert-failed" *ngIf="gameIdRequired" style="width: 90%;">
    En kod behövs, fyll i fältet nedan.
  </div>

  <div class="alert alert-danger mt-3 alert-failed" *ngIf="lobbyNotFound" style="width: 90%;">
    Lobby existerar ej.
  </div>

    <div class="gradient-heading">Hej, {{username}}!</div>

    <form>
      <app-hosting-card (valueChange)="joinGame($event)"></app-hosting-card>
    </form>

    <app-tab-bar 
      [username]="username"
      [imageUrl]="imageUrl"
      (usernameChange)="handleNewUsername()"
      (imageUrlChange)="handleNewImageUrl()"
    ></app-tab-bar>
</div>