@import '../../styles.scss';

.heading {
    font-family: 'Unlock', sans-serif;
    font-size: 40px;
    color: $primary;
    margin-bottom: 30px;
  }

  .form-container {
    width: 70%;
    max-width: 400px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  


.form-margin {
    margin-bottom: 15px;
}

.btn-secondary {
    color: white;
    background-color: $primary;
    border-color: $primary;
    width: 100%;

}

.btn-secondary:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 .2rem rgba($primary, 0.5)
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: rgba($primary, 0.5);
    border-color: $primary;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: rgba($primary, 0.5);
}