<div class="d-flex flex-column align-items-center justify-content-center vh-100 vv-100 white-background">
    
    <div class="alert alert-danger mt-3 alert-failed" *ngIf="userAlreadyExists" style="width: 90%;">
        Användaren finns redan!
    </div>
   
    <div class="alert alert-danger mt-3 alert-failed" *ngIf="passwordsNotEqual" style="width: 90%;">
        Lösenorden överrenstämmer inte.
    </div>

    <div class="alert alert-danger mt-3 alert-failed" *ngIf="internalServerError" style="width: 90%;">
        Något gick fel, vänligen försök igen.
    </div>

    <div class="gradient-heading">Registrera dig</div>
    <form style="width: 90%;" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <input type="text" class="form-control custom-input form-margin" name="username" placeholder="Användarnamn" ngModel>
        <input type="password" class="form-control custom-input form-margin" name="password" placeholder="Lösenord" ngModel>
        <input type="password" class="form-control custom-input form-margin mb-5" name="repeatPassword" placeholder="Återupprepa lösenord" ngModel>
        <button type="submit" type="inputPassword3" class="btn gradient-button btn-secondary">REGISTRERA</button>
    </form>

    <h6 class="mt-5">Har du redan ett konto?  <a class="link-style ml-2" (click)="redirectToLogin()">Logga in</a></h6>

  </div>
  