<div class="d-flex flex-column align-items-center justify-content-center vh-100 vv-100 white-background">
    <div class="heading">Registrera dig</div>
    <form style="width: 90%;">
        <input type="email" class="form-control custom-input form-margin" id="email" placeholder="Epost">
        <input type="text" class="form-control custom-input form-margin" id="username" placeholder="Användarnamn">
        <input type="password" class="form-control custom-input form-margin" id="password" placeholder="Lösenord">
        <input type="password" class="form-control custom-input form-margin" id="repeatPassword" placeholder="Återupprepa lösenord">
        <button type="submit" type="inputPassword3" class="btn btn-secondary">REGISTRERA</button>
    </form>
  </div>
  