.ml12 {
    font-weight: 200;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: white;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .line-drawing-header .lines path {
    stroke: #000; /* Your stroke color */
    stroke-width: 2; /* Your stroke width */
    fill: none; /* Ensure no fill is applied to the paths */
  }
  