@import '../../styles.scss';

.icon-up {
    transform: rotate(0deg);
    transition: transform 0.25s;
}

.icon-left {
    transform: rotate(-30deg);
    transition: transform 0.25s;
}

.icon-right {
    transform: rotate(30deg);
    transition: transform 0.5s;
}

.form-input{
    color: $secondary;
    border: $secondary;
    background-color: white;
}

.name-input-group{
    display: flex;
    align-items: center;
    gap: 10px; 
    max-width: 700px;
    justify-content: center;
}

.name-input{
    width: 45%;
}

.form-control{
    border-color: $primary;
    color: $primary;
}

.form-control:focus{
    border-color: $primary;
    box-shadow: 0 0 5px rgba($primary, 0.7);
}