/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


// Override Bootstrap variables 
$primary: #FF4D6D; 
$secondary: #9c009f;
$third: #0000008a;

body { 
  font-family: 'Inter', sans-serif;
}

/* Heading Styles */
.heading {
    font-family: 'Unlock', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
  }

.white-heading {
  font-family: 'Unlock', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}
  
/* Primary Button Styles */
.btn-primary {
  color: $primary;
  background-color: white;
  border-color: $primary;
  border-width: 2px;
  font-size: 14px;
  letter-spacing: 2px;
  width: 100%;

}

.btn-primary:hover {
  color: white;
  border-color: $primary;
  background-color: $primary;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 .2rem rgba($primary, 0.5)
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: white;
  background-color: rgba($primary, 0.5);
  border-color: $primary;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: rgba($primary, 0.5);
}

/* Secondary button styles */
.btn-secondary {
  color: white;
  background-color: $primary;
  border-color: $primary;
  border-width: 2px;
  font-size: 14px;
  letter-spacing: 2px;
  width: 100%;
}

.btn-secondary:hover {
  color: $primary;
  background-color: white;
  border-color: $primary;
  border-width: 2px;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 .2rem rgba($primary, 0.5)
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: white;
  background-color: rgba($primary, 0.5);
  border-color: $primary;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: rgba($primary, 0.5);
}

/*Background styles*/

.primary-background {
  background-color: $primary; 
  color: white;
  max-height: -webkit-fill-available;
  max-height: 100vh;
}

.secondary-background {
  background-color: $secondary; 
  color: white;
  max-height: -webkit-fill-available;
  max-height: 100vh;
}


.grey-background {
  background: $third;
  max-height: -webkit-fill-available;
  max-height: 100vh;
}

.white-background {
  background: white;
  color: $primary; 
  max-height: -webkit-fill-available;
  max-height: 100vh;
}

.pink-background {
  background: $primary;
  max-height: -webkit-fill-available;
  max-height: 100vh;
}


.linear-background{
  background: linear-gradient(to top, white, $primary);
  // background: linear-gradient(to top, white, $secondary, $primary);
  position: relative; 
  overflow-x: hidden; 
  max-height: -webkit-fill-available;
  max-height: 100vh;
}

.secondary-icon {
    color: white; 
  }

.white-box {
  background-color:  rgba(white, 0.9);
  height: 80px; 
}

.form-input {
  font-size: 1rem; 
  height: 38px; 
  padding: 6px 12px; 
  border-radius: 5px; 
  border: transparent;
  color: $secondary; 
  background-color: #f9f9f9; 
  margin-right: 10px;
}
  
.form-input::placeholder {
  color: $primary;
}


.form-input::focus {
  border-color: #FF4D6D; 
}


.form-control::focus {
  border-color: $primary;
}
  
/* Form input */
.custom-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $primary;
  background-color: white;
  color: black;
  letter-spacing: 1px;
}

.custom-input:hover,
.custom-input:focus {
  background-color: rgba($primary, 0.1);
  border-color: $primary;
  box-shadow: none;
}

/* Gradient components */

.gradient-heading {
  font-family: 'Unlock', sans-serif;
  font-size: 42px;
  margin-bottom: 30px;
  background: linear-gradient(to right, rgba($primary, 0.7), $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.form-margin {
  margin-bottom: 15px;
}

.gradient-button {
  color: white;
  width: 100%;
  background: linear-gradient(to right, $secondary, $primary);

}

.alert-failed {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: white;
  background-color: rgba($secondary, 0.25);
}

.link-style {
  color: $secondary;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
}

.link-style:hover {
  color: $primary; 
  text-decoration: underline; 
}

/* Progress bar*/
.progress .progress-bar {
  background-color: $primary !important; 
}

.progress {
  background-color: rgba($primary, 0.25); 
}

