/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


// Override Bootstrap variables 
$primary: #FF4D6D; 
$secondary: #B241B4;


body { 
  // background: linear-gradient(to top, white, $secondary, $primary);
  font-family: 'Inter', sans-serif;
}

/* Heading Styles */
.heading {
    font-family: 'Unlock', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: white;
  }
  
/* Primary Button Styles */

.btn-primary {
  color: $secondary;
  background-color: white;
  border-color: $secondary;
  border-width: 2px;
  font-size: 14px;
  letter-spacing: 2px;
}

.btn-primary:hover {
  color: white;
  border-color: $secondary;
  background-color: $secondary;

}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 .2rem rgba($secondary, 0.5)
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: white;
  background-color: rgba($secondary, 0.5);
  border-color: $secondary;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: rgba($secondary, 0.5);
}


/* Secondary button styles */
.btn-secondary {
  color: white;
  background-color: $secondary;
  border-color: $secondary;
  border-width: 2px;
  font-size: 14px;
  letter-spacing: 2px;

}

.btn-secondary:hover {
  color: $secondary;
  background-color: white;
  border-color: $secondary;
  border-width: 2px;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 .2rem rgba($secondary, 0.5)
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: white;
  background-color: rgba($secondary, 0.5);
  border-color: $secondary;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: rgba($secondary, 0.5);
}

/*Background styles*/

.pink-background {
    background-color: $primary; 
    color: $secondary; 
    }

.white-background {
    background-color: $secondary;
    color: $primary; 
  }

.secondary-icon {
    color: white; 
  }

  .white-box {
    background-color:  rgba(white, 0.9);
    height: 80px; 
  }

  .form-input {
    font-size: 1rem; 
    height: 38px; 
    padding: 6px 12px; 
    border-radius: 5px; 
    border: transparent;
    color: $primary; 
    background-color: #f9f9f9; 
    margin-right: 10px;
  }
  
  .form-input::placeholder {
    color: $primary; /* Set placeholder text color to pink */
  }
  

  .form-input::focus {
    border-color: #FF4D6D; /* Set border color to pink on focus */
    

  }

  .white-background {
    background: white;
  }

  .form-control::focus {
    border-color: $primary;

  }
  
/* Form input */

.custom-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid $primary;
  background-color: white;
  color: black;
  letter-spacing: 1px;
}

.custom-input:hover,
.custom-input:focus {
  background-color: rgba($primary, 0.1);
  border-color: $primary;
  box-shadow: none;
}

/* Gradient components */

.gradient-heading {
  font-family: 'Unlock', sans-serif;
  font-size: 45px;
  margin-bottom: 30px;
  /* Apply linear gradient as background */
  background: linear-gradient(to right, $secondary, $primary);
  /* Ensure text remains visible */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.form-margin {
  margin-bottom: 15px;
}

.gradient-button {
  color: white;
  width: 100%;
  background: linear-gradient(to right, $secondary, $primary);

}

.alert-failed {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: white;
  background-color: rgba($primary, 0.5);
}

.link-style {
  color: $secondary;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
}

.link-style:hover {
  color: $primary; /* Darker shade of purple on hover */
  text-decoration: underline; /* Maintain the underline on hover */
}