<div class="d-flex flex-column align-items-center justify-content-center vh-100 vw-100 linear-background">

    <div class="text-center white-heading mb-3">{{currentPrompt}}</div>


    <div class="overlay-box overlay-box-info position-absolute vh-100 vw-100" style="z-index: 100;" *ngIf="allVotesDone">
        <div class="text-center pink-wait">Såhär har ni röstat ...</div>
    </div>

    <div class="overlay-box overlay-box-result position-absolute vh-100 vw-100" style="z-index: 100;" *ngIf="allVotesDone">
        <div class="text-center pink-wait">{{getWinnerUsername()}}</div>
        <div class="text-center pink-wait-point" *ngIf="votedForOne.length>0">+{{votedForOne.length*100}} poäng till {{currentPlayers[0]}}</div>
        <div class="text-center pink-wait-point" *ngIf="votedForTwo.length>0">+{{votedForTwo.length*100}} poäng {{currentPlayers[1]}}</div>
    </div>


    <div class="answer-row-1 d-flex flex-column align-items-center">

        
        <div class="answer-container container-1 ">

            <div class="small-images-container-1 d-flex justify-content-center position-absolute" *ngIf="allVotesDone">
                <ng-container *ngFor="let username of votedForOne">
                    <img [src]="getImageUrl(username)" alt="Small Image" style="width: 20px; height: 20px;">
                </ng-container>
            </div>

            <img src="assets/speech-bubble1.png" alt="Speech Bubble Image" style="width: 400px; height: 200px;">
            <div (click)="vote(0)" class="answer-box" style="align-self: flex-start;">
                <div class="content">{{currentAnswers[0]}}</div>
            </div>
        </div>

        <div class="img-player1" *ngIf="allVotesDone">
            <img [src]="getImageUrl(currentPlayers[0])" class="img-fluid" alt="Avatar Image" style="max-width: 40px;">
            <div class="user-name">{{currentPlayers[0]}}</div>
        </div>

        
    </div>


    <div class="answer-row-2 d-flex flex-column align-items-center">
        <div class="answer-container container-2 ">

            <div class="small-images-container-2 d-flex justify-content-center position-absolute" *ngIf="allVotesDone">
                <ng-container *ngFor="let username of votedForTwo">
                    <img [src]="getImageUrl(username)" alt="Small Image" style="width: 20px; height: 20px;">
                </ng-container>
            </div>

            <div style="display: flex; flex-direction: column; align-items: center;">
                <img src="assets/speech-bubble-inverted1.png" alt="Speech Bubble Image" style="width: 400px; height: 200px;">
                <div (click)="vote(1)" class="answer-box" style="align-self: flex-start;">
                    <div class="content">{{currentAnswers[1]}}</div>
                </div>
            </div>
        </div>

        <div class="img-player2" *ngIf="allVotesDone">
            <img [src]="getImageUrl(currentPlayers[1])" class="img-fluid" alt="Avatar Image" style="max-width: 40px;">
            <div class="user-name">{{currentPlayers[1]}}</div>
        </div>

    </div>


<div class="text-center pink-info" *ngIf="!allVotesDone">
    <ng-container *ngIf="!myVoteDone; else votedText">
        <div>Välj det roligaste svaret ovan, NU!</div>
    </ng-container>
    <ng-template #votedText>
        <div>Ta en Nocco&trade; medans de andra röstar</div>
    </ng-template>
</div>

<app-progress-bar [timeConst]="endVoteTimeConst" [timeDifference]="timeDifferenceVote"></app-progress-bar>
</div>
