<div class="d-flex flex-column align-items-center justify-content-center vh-100 vv-100 white-background">
    <div class="heading">LOGGA IN</div>
    <form style="width: 90%;" (ngSubmit)="onSubmit()">
        <input type="text" class="form-control custom-input form-margin" id="username" placeholder="Användarnamn">
        <input type="password" class="form-control custom-input form-margin" id="password" placeholder="Lösenord">
      <button type="submit" type="inputPassword3" class="btn btn-secondary">LOGGA IN</button>
    </form>
  </div>
  