@import '../../styles.scss';

.form-margin {
    margin-bottom: 15px;
}

.btn-secondary:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 .2rem rgba($primary, 0.5)
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: rgba($primary, 0.5);
    border-color: $primary;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: rgba($primary, 0.5);
}

.link-style {
    text-decoration: none;
    color: $secondary;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: rgb($secondary, 0.5);
    }
}

