<div class=" vh-100 vv-100 white-background d-flex flex-column align-items-center justify-content-center">

    <div class="alert alert-danger mt-3 alert-failed" *ngIf="loginFailed" style="width: 90%;">
        Fel användarnamn eller lösenord.
    </div>
   
    <div class="alert alert-danger mt-3 alert-failed" *ngIf="emptyFields" style="width: 90%;">
        Vänligen fyll i ditt användarnamn och lösenord för att fortsätta.
    </div>

    <div class="gradient-heading">Logga in</div>
    <form style="width: 90%; max-width: 340px;" (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <input type="text" class="form-control custom-input form-margin" placeholder="Användarnamn" name="username" ngModel >
        <input type="password" class="form-control custom-input form-margin mb-5" placeholder="Lösenord" name="password" ngModel >
        <button type="submit" type="inputPassword3" class="btn gradient-button btn-secondary">LOGGA IN</button>
    </form>

    <h6 class="mt-5">Har du inget konto?  <a class="link-style ml-2" (click)="redirectToRegister()">Registrera dig</a></h6>

</div>
  
