<div class="d-flex flex-column justify-content-center align-items-center transparent-background vh-100">
    <i class="bi bi-joystick secondary-icon" style="font-size: 2rem;"></i>
    <div class="heading text-center">HaW</div>
    <div class="white-box fixed-bottom d-flex align-items-center justify-content-center">

        <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value.username)">
            <input type="text" class="form-input" placeholder="Välj ditt namn" name="username" ngModel required>
            <button type="submit" class="btn btn-secondary btn-lg" id="loginButton">LOGGA IN</button>
         </form>
         
    </div>
  </div>
  