@import '../../styles.scss';

.text-object {
    position: absolute;
  }

.white-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 50px;
  }
  