<div class="d-flex flex-column align-items-center vh-100 vw-100 linear-background">
        <ng-container *ngIf="timeDifference>0; else votingBlock">
            <div class="card" (click)="flipCard()" [class.flipped]="isFlipped">

                <div class="card-inner">
                    <div class="front">
                        <div class="heading">{{username}}</div>
                        <h6 class="card-title text-center">Klicka här för att se din roll</h6>
                    </div>
                    <div class="back">
                        <ng-container *ngIf="gameData.country !== ''; else spyBlock">
                            <i class="bi bi-geo-alt-fill" style="font-size: 4rem;"></i>                    
                            <h6 class="card-title text-center">{{gameData.country}}</h6>
                            <h6 class="card-text text-center"><i class="bi bi-info-circle"></i> Nu kör vi! Ställ Ja/Nej frågor till dina motspelare i klockvis ordning för att lista ut vem i gänget som inte vet om det hemliga ordet.</h6>
                            <h6 class="card-text text-center">Spionen ifrån förra omgången ställer första frågan.</h6>

                        </ng-container>

                        <ng-template #spyBlock>

                            <i class="bi bi-incognito" style="font-size: 4rem;"></i>
                            <h5 class="card-title text-center">SPY</h5>
                            <h6 class="card-text text-center"><i class="bi bi-info-circle"></i> Nu kör vi! Du vet inte om det hemliga ordet utan behöver smälta in bland de andra deltagarna.</h6>
                            
                            <h3>{{timeDifference}}</h3>
                        </ng-template>
                    </div> 
                </div>   
            </div>  
            <app-progress-bar [timeConst]="gameData.endTimeConst" [timeDifference]="timeDifference"></app-progress-bar>

        </ng-container>
        
        <ng-template #votingBlock>
            <ng-container *ngIf="!votingDone; else votingResultBlock">
                <div class="flex-column">
                    <ng-container *ngIf="!userHasVoted; else waitForOtherVotes">

                        <div class="white-heading text-center">Vem är SpyQ?</div>
                        <div class="voting-box">
                            <ng-container *ngFor="let user of users; let i = index">
                                <ng-container *ngIf="user.username !== username">   
                                    <button (click)="vote(user.username)" type="button" class="btn btn-primary">{{user.username}}</button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                            
                    <ng-template #waitForOtherVotes>  
                        <div class="voting-box">
                            <div class="white-heading m-5">Hämta en liten NOCCO medans de andra röstar klart ...</div>
                        </div>
                    </ng-template>   
                    
                    <app-progress-bar [timeConst]="gameData.endVoteTimeConst - gameData.endTimeConst" [timeDifference]="timeDifferenceVote "></app-progress-bar>

                </div>
            </ng-container>

            <ng-template #votingResultBlock>  
                <div>
                    <app-result-container 
                        [votingData]="votingData" 
                        [gameData]="gameData"
                        [subscriptions]="subscriptions" 
                        [gameId]="gameId"
                        [gameChoice]="gameChoice">
                    </app-result-container>
                </div>  
            </ng-template>
        </ng-template> 
</div>
