@import '../../styles.scss';

.launch-background{
    background: linear-gradient(to top, white, $secondary, $primary);
}

.icon-up {
    transform: rotate(0deg);
    transition: transform 0.25s;
}

.icon-left {
    transform: rotate(-30deg);
    transition: transform 0.25s;
}

.icon-right {
    transform: rotate(30deg);
    transition: transform 0.5s;
}
