<div class="d-flex flex-column justify-content-center align-items-center vh-100 linear-background">
    <i id="animated-icon" [className]="iconClass" style="font-size: 2rem;"></i>
    <div class="heading">HaW</div>
    <app-animated-header></app-animated-header>

        <!-- KOD FÖR ATT LOGGA IN/REGISTRERA SIG MED AUTENTISERING -     -->
        <!-- <button class="btn btn-secondary btn-lg" style="width: 45%;" (click)="onClick('/login')">LOGGA IN</button>
        <button class="btn btn-primary btn-lg" style="width: 45%;" (click)="onClick('/register')">REGISTRERA</button> -->

      <form #userName="ngForm" (ngSubmit)="chooseUsername(userName.value.username)">
        <div class="white-box fixed-bottom d-flex justify-content-center">
          <div class="name-input-group">
            <input type="text" class="form-control name-input" placeholder="Välj ditt namn" name="username" ngModel required maxlength="9">
            <button type="submit" class="btn btn-secondary btn-lg name-input"  id="loginButton">BÖRJA SPELA</button>
          </div>
        </div>
      </form>



</div>