<div class="card" [class.flipped]="isFlipped">
  <div class="front">
    <div class="card-body">
      <h6 class="card-title text-center">Har du fått en rumskod?</h6>
      <input [(ngModel)]="gameId" class="form-control form-control-lg centered-placeholder" type="text" placeholder="Kod">
      <button type="submit" (click)="joinGame()" class="btn btn-join">JOINA</button>
      <button type="button" (click)="hostGame()" class="btn btn-host" >Hosta ett eget rum</button>
    </div>
  </div>
  <!-- <div class="back">
    <div class="card-body">
      <h6 class="card-title text-center">Hosta ett nytt rum?</h6>
      <div class="spacer"></div>
      <button type="submit" (click)="hostGame()" class="btn btn-primary btn-lg">HOSTA</button>
      <button type="button" class="btn btn-footer" (click)="flipCard()">Joina någon annans rum</button>
    </div>
  </div> -->
</div>
  