<div class="d-flex flex-column justify-content-center align-items-center vh-100 white-background">
    <div class="white-heading text-center">Vad vill du spela idag?</div>
    <app-tab-bar [username]="username" [imageUrl]="imageUrl"       
    (usernameChange)="handleNewUsername()"
    (imageUrlChange)="handleNewImageUrl()"></app-tab-bar>
    <form style="width: 90%;" >
        <button (click)="hostGame('SpyQ')" type="button" class="btn game-button btn-primary">SpyQ</button>
        <button (click)="hostGame('HiQlash')" type="button" class="btn game-button btn-primary" >HiQlash</button>
        <button (click)="hostGame('Smartare än en LEAPare')" type="button" class="btn game-button btn-secondary disabled">Smartare än en LEAPare</button>
        <button (click)="hostGame('PiQollo')" type="button" class="btn game-button btn-secondary disabled">PiQollo</button>
        <button (click)="hostGame('InQognito')" type="button" class="btn game-button btn-secondary disabled">InQognito</button>
    </form>
</div>