@import '../../styles.scss';

.svg-container {
  position: relative;
  width: 100%;
  max-width: 500px; 
  height: 70vh;
  margin-top: 10px; 
  overflow: hidden; 
}

.circle-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle-group {
  position: absolute;

}

.white-heading {
  font-size: 40px;
}

.white-subheading {
  font-size: 30px;
  color: white;
  font-family: "Unlock", sans-serif;
}

.room-sub-heading{
  color: $primary;
  font-family: 'Roboto Mono', monospace;
}

.user-name{
  font-family: 'Roboto Mono', monospace;
  fill: $primary; 
  font-size: 15px;
}

.room-button-primary {
  z-index: 2;
  position: relative; 
  color: white; 
  width: 90%;
  background: $primary;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.room-button-secondary {
  z-index: 2;
  position: relative; 
  color: $primary; 
  width: 90%;
  background: white;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;

}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
  z-index: 9; /* Ensure it's above other elements */
}

.overlay {

  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  //background: #ff4d6eb0;
  background: white;
  background-color: rgba($primary, 0.9);
  border-color: $primary;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Box shadow effect */
  box-shadow: rgba($primary, 0.2);
  z-index: 10;
}

.overlay-content {
  position: absolute;
  font-family: "Unlock", sans-serif;
  top: 50%;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -50%);
  color: white;
}