@import '../../styles.scss';

.room-background {
  /* Your existing styles */
  position: relative; /* Ensure relative positioning */
}

.svg-container {
  position: relative;
  width: 100%;
  max-width: 500px; /* Define a max width for the SVG container */
  height: 70vh;
  margin-top: 10px; /* Adjust margin as needed */
  overflow: hidden; /* Hide any overflowing circles */
}

.circle-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle-group {
  position: absolute;

}

.room-background{
    background: linear-gradient(to top, white, $primary);
    position: relative; 
}

.white-heading {
  font-size: 40px;
}

.room-sub-heading{
  color: $primary;
  font-family: 'Roboto Mono', monospace;

}

.room-button-primary {
  z-index: 2;
  position: relative; 
  color: white; 
  width: 90%;
  background: $primary;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}


.room-button-third {
  z-index: 2;
  position: relative; 
  color: white; 
  width: 90%;
  background: $primary;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;

}

.room-button-secondary {
  z-index: 2;
  position: relative; 
  color: $primary; 
  width: 90%;
  background: white;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;

}