@import '../../styles.scss';

.svg-container {
  position: relative;
  width: 100%;
  max-width: 500px; 
  height: 70vh;
  margin-top: 10px; 
  overflow: hidden; 
}

.circle-svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle-group {
  position: absolute;

}

.white-heading {
  font-size: 40px;
}

.room-sub-heading{
  color: $primary;
  font-family: 'Roboto Mono', monospace;
}

.user-name{
  font-family: 'Roboto Mono', monospace;
  fill: $primary; 
  font-size: 15px;
}

.room-button-primary {
  z-index: 2;
  position: relative; 
  color: white; 
  width: 90%;
  background: $primary;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.room-button-secondary {
  z-index: 2;
  position: relative; 
  color: $primary; 
  width: 90%;
  background: white;
  border-color: $primary;
  font-weight: bold;
  margin-bottom: 5px;

}