<div class="d-flex flex-column align-items-center justify-content-center vh-100 vv-100 linear-background">
    <div class="prompts-box">
        <div class="white-heading">SVARA PÅ FÖLJDANDE PROMTPS:</div>
        <div class="white-prompts">{{gameData.prompts[0]}}</div>
        <textarea class="custom-textarea" rows="2" placeholder="Skriv ditt svar här" required></textarea>
        <div class="white-prompts">{{gameData.prompts[0]}}</div>
        <textarea class="custom-textarea" rows="2" placeholder="Skriv ditt svar här" required></textarea>
        <button (click)="submitAnswers()" type="submit" class="btn btn-secondary">Skicka in ditt svar</button>
        <app-progress-bar [timeDifference]="timeDifference"></app-progress-bar>
    </div>
</div>
