<div class="d-flex flex-column align-items-center justify-content-center vh-100 vv-100 linear-background">
    <ng-container *ngIf="showPromptBlock; else votingBlock">

        <ng-container *ngIf="!myAnswersDone; else waitingBlock">
            <div class="prompts-box">
                <div class="white-heading">SVARA PÅ FÖLJDANDE PROMTPS:</div>
                <div class="white-prompts">{{gameData.prompts[0]}}</div>
                <textarea 
                    class="custom-textarea" 
                    rows="2"  
                    [(ngModel)]="promptAnswer1"
                    placeholder="Skriv ditt svar här" 
                    required></textarea>                
                <div class="white-prompts">{{gameData.prompts[1]}}</div>
                <textarea 
                    class="custom-textarea" 
                    rows="2"  
                    [(ngModel)]="promptAnswer2"
                    placeholder="Skriv ditt svar här" 
                    required></textarea>   
                <button (click)="submitAnswers()" type="submit" class="btn btn-secondary">Skicka in ditt svar</button>
            </div>
        </ng-container>

        <ng-template #waitingBlock>
            <div class="white-heading m-5">Hämta en liten NOCCO medans de andra tänker ...</div>
        </ng-template>

        <app-progress-bar [timeConst]="gameData.endTimeConst" [timeDifference]="timeDifference"></app-progress-bar>

    </ng-container>

    <ng-template #votingBlock>
        <div class="text-center">
            <div class="white-heading mb-3">PROMPT 1</div>
          </div>

            <!-- <div class="speech-bubble-container col-auto text-end">
            <div class="speech-bubble" style="background-image: url('assets/speech-bubble2.png')">
              <div class="text-overlay">
                Your dynamic text goes here
              </div>
            </div>
          </div>
           -->
              

           <div class="row ">
            <div class="text-end" style="width: 300px; height: 150px; position: relative; display: inline-block;">
                <a (click)="vote('1')" style="cursor: pointer; display: block; position: relative;">
                    <img src="assets/speech-bubble2.png" alt="Speech Bubble Image" style="width: 300px; height: 150px;">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                        <div style="color: black; font-weight: bold; position: relative; z-index: 1;">Your Text</div>
                    </div>
                </a>
            </div>
            </div>

            <div class="row ">

            <div class="col-auto text-start" style="width: 300px; height: 150px; position: relative; display: inline-block;">
                <a (click)="vote('2')" style="cursor: pointer; display: block; position: relative;">
                    <img src="assets/speech-bubble-inverted2.png" alt="Speech Bubble Image Inverted" width="300" height="150">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                        <div style="color: black; font-weight: bold; position: relative; z-index: 1;">Answer 2</div>
                    </div>
                </a>
            </div>
        </div>
        
        
        <app-progress-bar [timeConst]="gameData.endVoteTimeConst" [timeDifference]="timeDifference"></app-progress-bar>

      </ng-template>
</div>
