@import '../../styles.scss';

.white-heading{
    text-align: center;
    line-height: 1.2;
}

.white-prompts{
    font-family: 'Unlock', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
    text-align: center;

}

.custom-textarea {
    width: 100%;
    border: 1.5px solid $primary; 
    transition: border-color 0.3s ease; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;

    &:focus {
        box-shadow: 0 0 5px rgba($primary, 0.8);
        outline: none; 
    }
}

.prompts-box{
    width: 80%;
}

.progress{
    margin-top: 40px;
}
