@import '../../styles.scss';

.white-heading{
    color: $primary;
}
.game-button {
    color: white;
    width: 100%;
    background: $primary;  
    border-color: $primary;  
    margin-bottom: 15px;
    font-weight: bold;    
}
