@import '../../styles.scss';

.white-heading{
    text-align: center;
    line-height: 1.2;
    font-size: 20px;

}

.pink-info{
    font-family: 'Unlock', sans-serif;
    font-size: 18px;
    margin-top: 50px;
    color: $primary;
    text-align: center;
}

.pink-wait{
    font-family: 'Unlock', sans-serif;
    font-size: 40px;
    color: $primary;
}

.pink-wait-point{
    font-family: 'Unlock', sans-serif;
    margin-top: 10px;
    font-size: 20px;
    color: $primary;
}

.overlay-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(white, 0.9);
    color: $primary; 
    max-height: -webkit-fill-available;
    max-height: 100vh;
}

.answer-container{
    width: 300px; 
    height: 150px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.answer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-box .content {
    color: rgba($primary, 0.8);
    font-weight: bold;
    font-size: 0.9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
}

.img-player1{
    margin-left: 250px;
}

.img-player2{
    margin-right: 250px;
}

.small-images-container-1{
    margin-right: 100px;
    margin-top: 20px;
}

.small-images-container-2{
    margin-left: 100px;
    margin-top: 20px;
}

