<div class="white-box fixed-bottom d-flex align-items-center justify-content-center">
    <div class="divider"></div>
<!--
    <div class="selected-tab" [ngClass]="{ 'active': selectedTab === 'controller' }" (click)="selectTab('controller')">
        <i class="bi bi-controller icon" style="font-size: 2.5rem;"></i>
    </div>
    <div class="selected-tab" [ngClass]="{ 'active': selectedTab === 'gear' }" (click)="selectTab('gear')">
        <i class="bi bi-gear icon" style="font-size: 2.5rem;"></i>
    </div>
    <div class="selected-tab" [ngClass]="{ 'active': selectedTab === 'chat' }" (click)="selectTab('chat')">
        <i class="bi bi-chat-left-dots icon" style="font-size: 2.5rem;"></i>
    </div>
-->
<!-- <img [src]="imageUrl" class="icon-image"> -->

    <div class="icon-frame" id="profileImage" [ngClass]="{ 'active': selectedTab === 'profileIcon' }" (click)="openPopup()">
        <img [src]="imageUrl" class="icon-image">
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}" (click)="closePopup($event)">
    <div #modal class="modal-dialog modal-dialog-centered modal-sm rounded">
        <div class="modal-content bg-light rounded">

            <div class="modal-body d-flex flex-column align-items-center justify-content-center white-background rounded" >
                <button type="button" class="btn-close btn-close-white align-self-end" (click)="closePopup($event)" aria-label="Close"></button>
                <h5 class="modal-title heading">Redigera alias</h5>
                <div class="position-relative">
                    <img [src]="newImageUrl" class="rounded-circle my-3" style="width: 100px; height: 100px;">
                    <button type="button" class="btn btn-edit btn-primary" (click)="generateNewProfile()" >
                        <i class="bi bi-arrow-clockwise" #spinIcon></i>
                    </button>
                </div>
                <form (submit)="saveNewAlias(usernameInput.value)" >
                    <div class=" center-input">
                        <input type="text" class="form-control centered-placeholder" #usernameInput [value]="username" required>
                        <div class="invalid-feedback" [style.display]="usernameInput.value === '' || usernameInput.value.length > 9 ? 'block' : 'none'">
                            Välj ett användarnamn med 1-9 karaktärer
                        </div>
                    <button class="btn btn-secondary" type="submit">Spara ditt nya alias</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
