@import '../../styles.scss';

.divider {
  border-top: 1.5px solid rgba(244, 63, 133, 0.3);   
  width: 80%; 
  position: absolute;
  top: 0; 
}

.white-box {
  display: flex;
  justify-content: space-evenly;
  height: 15%;
  align-items: center;
  padding: 0 20px; 
}

.icon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal{
  background: rgba(white, 0.6);

}

.modal-dialog {
  max-width: 90%;
  margin: auto;

}

.modal-content{
  box-shadow: 0 0 10px rgba($primary, 0.35);

}

.position-relative {
  position: relative;
}

.btn-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem;
  border: none;
  background-color: $primary;
  border-radius: 50%; 
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-edit.focus {
  background-color: $primary;
}

.btn-edit i {
  font-size: 1.5rem;
  color: white; 
}

.heading{
  font-size: 20px;
}

.center-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-placeholder {
  margin-top: 10px;
  width: 100%;
  height: 40px; 
  margin-bottom: 10px;
}

.invalid-feedback {
  display: none;
  height: 20px; 
  color: $secondary;
  font-size: 14px;
}

.btn-secondary {
  width: 100%;
}

.selected-tab {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px;
}

.selected-tab::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(255, 76, 144, 0.242) 40%, rgba(255, 76, 144, 0.192) 20%); /* Radial gradient for darker middle and lighter edge */
  backdrop-filter: blur(8px); /* Blurred effect */
  border-radius: 50%; /* Creates a larger circle */
  z-index: -1; /* Moves the background behind the icon */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.selected-tab.active::before {
  opacity: 1;
}

.icon-frame {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; /* Set a z-index for the icon */
  margin: 0 10px; /* Maintain margin for the icon-frame */
  box-shadow: 0 2px 4px rgba(0, 0, 0.2);
}


.heading{
  color: $primary;
  font-size: 30px;
}
