@import '../../styles.scss';

.divider {
    border-top: 1.5px solid rgba(244, 63, 133, 0.3);   
    width: 80%; 
    position: absolute;
    top: 0; 
  }

.white-box {
    background-color: rgba(white, 0.05);
    height: 80px; 
    }

    .icon {
        margin: 0 20px; 
      }